body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.selected {
  border: 3px solid;
  color: blue;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  border-radius: 25px;
  margin: auto 20px;
}

.questionlist {
  margin: 10px auto;
}
.questionlist-headers-container {
  max-width: 590px;
  margin: auto;
}

.questionlist-header {
  width: 50%;
  max-width: 590px;
  margin: 15px auto;
}

.question {
  width: 100%;
  max-width: 590px;
  display: flex;
  margin: 10px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.question-answer {
  font-weight: bold;
}

.question-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.question-form label {
  margin: 10px 0px;
}

.questionpage {
  max-width: 590px;
  margin: auto;
}

.questionpage-info {
  display: flex;
  flex-direction: row;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-select {
  margin: 10px auto;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  max-width: 590px;
  margin: auto;
}

.leaderboard-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dad7d7;
}

.leaderboard-entry {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  margin: 10px 0px;
}

.leaderboard-avatar,
.leaderboard-asked,
.leaderboard-answered,
.leaderboard-score {
  min-width: 25%;
  text-align: center;
  margin: auto;
}

.leaderboard-avatar {
  margin: 20px;
}

.new-question-form {
  display: flex;
  flex-direction: column;
}

.new-question-form label {
  margin: 10px 0px;
}

.hide {
  display: none;
}
